@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.nav h1 {
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.date-form {
  font-size: 1.2rem;
}

.date-form input {
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.random-photo p {
  margin-top: 50px;
}

.btn {
  width: 100%;
  display: block;
  padding: 10px 50px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card {
  max-width: 700px;
  font-weight: 300;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card p {
  max-width: 650px;
  margin: 40px auto;
}

.title-date {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .title-date {
    display: flex;
    flex-direction: column;
  }

  .nav h1 {
    font-size: 1.3rem;
  }

  .date-form {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .date-form label {
    margin-bottom: 10px;
  }

  .date-form input {
    margin-bottom: 10px;
  }

  .card p,
  .card .title-date,
  .card h2 {
    padding: 0 15px;
  }
}
